/* STANDARD */
@font-face {
    font-family: Standard;
    src: url(fonts/standard/standard-book-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Standard;
    src: url(fonts/standard/standard-italic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Standard;
    src: url(fonts/standard/standard-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Standard;
    src: url(fonts/standard/standard-bold-italic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

/* BESLEY */
@font-face {
    font-family: Besley;
    src: url(fonts/besley/Besley-Book.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Besley;
    src: url(fonts/besley/Besley-BookItalic.otf);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Besley;
    src: url(fonts/besley/Besley-Bold.otf);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Besley;
    src: url(fonts/besley/Besley-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}

/* NOAH */
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-regularitalic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-bolditalic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

/* JUNCTION */
@font-face {
    font-family: Junction;
    src: url(fonts/junction/Junction-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Junction;
    src: url(fonts/junction/Junction-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Junction;
    src: url(fonts/junction/Junction-light-webfont.woff);
    font-weight: lighter;
    font-style: normal;
}

/* PROXIMA NOVA */
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/proxima/ProximaNova-Reg-webfont.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/proxima/ProximaNova-Bold-webfont.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url(fonts/proxima/ProximaNova-Sbold-webfont.woff);
    font-weight: 600;
    font-style: normal;
}

/* APPLE GARAMOND */
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Apple Garamond';
    src: url(fonts/apgaram/AppleGaramond-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

/* CHARCOAL */
@font-face {
    font-family: 'Charcoal';
    src: url(fonts/charcoal/CHARCOAL.TTF);
    font-weight: 400;
    font-style: normal;
}

/* VIRTUE */
@font-face {
    font-family: 'Virtue';
    src: url(fonts/virtue/virtue.ttf);
    font-weight: 400;
    font-style: normal;
}