/* NOAH */
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-regularitalic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Noah;
    src: url(fonts/noah/noah-bolditalic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}
