@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--CONTENT-FONT-FAMILY: 'Space Mono', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
	--HEADER-FONT-FAMILY: 'Hepta Slab', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
	--MAX-WIDTH: 840px;
	--MAX-WIDTH-PLAYLISTS: 720px;
	--LINK-COLOR: darkcyan;
	--LINK-HOVER-COLOR: lightseagreen;
	--BACKGROUND-COLOR: gainsboro;
	--BACKGROUND-SECONDARY-COLOR: whitesmoke;
	--BACKGROUND-CONTAINER-COLOR: none;
	--BACKGROUND-SECTION-COLOR: white;
	--BACKGROUND-NAVBAR-COLOR: white;
	--BACKGROUND-NAVBAR-SECONDARY-COLOR: mediumaquamarine;
	--PRIMARY-COLOR: #333333;
	--SECONDARY-COLOR: #555555;
	--HEADER-COLOR: black;
	--BORDER-COLOR: #cccccc;
	--HR-BORDER: 2px solid var(--BORDER-COLOR);
	--BUTTON-BG: var(--LINK-COLOR);
	--BUTTON-BG-HOVER: var(--LINK-HOVER-COLOR);
	--BUTTON-FG: white;
	--BUTTON-FG-HOVER: white;
	--BUTTON-BORDER: none;
	--SECTION-BORDER: none;
	--COMPONENT-BORDER: 1px solid var(--BORDER-COLOR);
	--DIVIDER-BORDER: 1px solid var(--BORDER-COLOR);
	--HEADER-BORDER: 3px solid var(--LINK-HOVER-COLOR);
	--IMAGE-BORDER: none;
	--SHADOW: none;
	--SECTION-SHADOW: none;
	--BORDER-RADIUS: 9px;
	--BUTTON-BORDER-RADIUS: 9px;
	--IMAGE-BORDER-RADIUS: 100%;
	--TRANSITION: 0.25s;
}

@media (max-width: 768px) {
	body {
		flex-flow: column !important;
		font-size: 16px !important;
	}

	#navigation-bar {
		flex-flow: column !important;
		justify-content: center !important;
		padding: 1em !important;
		padding-top: 1.5em !important;
		text-align: center !important;
	}
	footer {
		flex-flow: column !important;
		justify-content: center !important;
		margin: 0 !important;
		padding: 1.5em !important;
		text-align: center !important;
	}

	#masthead {
		margin-bottom: 1em !important;
	}
	#masthead h1 {
		font-size: 2.5em !important;
	}
	#navigation-links {
		text-align: center !important;
		justify-content: center !important;
	}
	#navigation-links ul {
		justify-content: center !important;
		text-align: center !important;
	}
	#navigation-links li {
		font-size: 0.9em !important;
		margin-left: 0.25em !important;
		margin-right: 0.25em !important;
		padding-left: 0.35em !important;
		padding-right: 0.35em !important;
	}

	.playlist-page li {
		padding: 0.25em !important;
	}

	.container {
		margin: 0 !important;
		padding: 1.25em !important;
	}
	.container h2 {
		margin: 0.5em !important;
	}

	.section-shortcuts {
		display: none !important;
		position: fixed !important;
		visibility: hidden !important;
	}
}

body {
	font-family: var(--CONTENT-FONT-FAMILY);
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.5px;
	text-align: left;
	text-rendering: optimizeSpeed;
	
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;

	background-color: var(--BACKGROUND-COLOR);
	color: var(--PRIMARY-COLOR);

	/* background-image: url(green_cup.png); */
	background-size: auto;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
	font-family: var(--HEADER-FONT-FAMILY);
}
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }

a {
	color: var(--LINK-COLOR);
	text-decoration: none;
	transition: var(--TRANSITION);
}
a:hover {
	color: var(--LINK-HOVER-COLOR);
	transition: var(--TRANSITION);
}

ul {
	list-style-position: inside;
}

hr {
	width: 100%;
	border: 0;
	border-bottom: var(--HR-BORDER);
}

header {
	width: 100%;
	position: sticky !important;
	top: 0;
	box-shadow: var(--SECTION-SHADOW);
	border-bottom: var(--HEADER-BORDER);
}

#navigation-bar { 
	z-index: 2 !important;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-self: flex-start;
	align-content: center;
	justify-content: space-between;
	margin: 0;
	padding: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	box-sizing: border-box;
	background: var(--BACKGROUND-NAVBAR-COLOR);
}
#navigation-bar a {
	text-decoration: none !important;
	color: var(--PRIMARY-COLOR);
}

#masthead {
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: center;
	line-height: 1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#masthead h1 {
	margin: 0;
	font-size: 2em;
	font-weight: 800;
	letter-spacing: -1px;
	color: var(--PRIMARY-COLOR);
}

#navigation-links {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#navigation-links ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	text-align: right;
}
#navigation-links li {
	display: inline-block;
	margin: 0;
	margin-left: 1em;
	padding: 0;
	box-sizing: border-box;
	color: var(--LINK-COLOR);
	text-decoration: none;
	transition: var(--TRANSITION);
}
#navigation-links li:hover {
	color: var(--LINK-HOVER-COLOR);
	transition: var(--TRANSITION);
}

.section-shortcuts {
	z-index: 1 !important;
	top: 0;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	margin: 0;
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	box-sizing: border-box;
	background: var(--BACKGROUND-NAVBAR-COLOR);
	transition: var(--TRANSITION);
}
.section-shortcuts:hover {
	background: var(--BACKGROUND-NAVBAR-SECONDARY-COLOR);
	transition: var(--TRANSITION);
}
.section-shortcuts ul {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
	margin: 0 !important;
	padding: 0;
}
.section-shortcuts a {
	text-decoration: none;
}
.section-shortcuts li {
	display: block;
	min-width: 96px;
	margin: 0;
	margin-left: 0.125em;
	margin-right: 0.125em;
	padding: 0.25em;
	padding-left: 0.125em;
	padding-right: 0.125em;
	box-sizing: border-box;
	background: none;
	color: var(--PRIMARY-COLOR);
	border: var(--BUTTON-BORDER);
	border-radius: var(--BUTTON-BORDER-RADIUS);
	text-align: center;
	font-size: 80%;
	transition: var(--TRANSITION);
}
.section-shortcuts li:hover {
	font-weight: 800;
	background: var(--BACKGROUND-NAVBAR-COLOR);
	/* color: var(--BUTTON-FG-HOVER); */
	box-shadow: var(--SHADOW);
	transition: var(--TRANSITION);
}

footer {
	width: 100%;
	max-width: var(--MAX-WIDTH);
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-self: flex-end;
	justify-content: space-between;
	margin: auto;
	margin-bottom: 2em;
	padding: 0;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	box-sizing: border-box;
	text-align: center;
	font-size: 80%;
	/* background: var(--BACKGROUND-NAVBAR-COLOR); */
	color: var(--SECONDARY-COLOR);
	border-top: var(--DIVIDER-BORDER);
}

.container {
	max-width: var(--MAX-WIDTH);
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	margin: auto;
	margin-top: 3em;
	margin-bottom: 2em;
	/* padding: 2em; */
	/* padding-bottom: 3em; */
	box-sizing: border-box;
	background: var(--BACKGROUND-CONTAINER-COLOR);
	/* border: var(--SECTION-BORDER); */
	border-radius: var(--BORDER-RADIUS);
	/* box-shadow: var(--SHADOW); */
}
.container h2 {
	margin: auto;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	box-sizing: border-box;
	text-align: center;
	/* font-size: 275%; */
	font-size: 11vmin;
	font-weight: 800;
	letter-spacing: -2px;
	color: var(--HEADER-COLOR);
}
.container hr {
	margin-bottom: 1em;
}

.section-list dd {
	margin: 0;
	margin-bottom: 2em;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	box-sizing: border-box;
	background: var(--BACKGROUND-SECTION-COLOR);
	border: var(--SECTION-BORDER);
	border-radius: var(--BORDER-RADIUS);
	box-shadow: var(--SECTION-SHADOW);
}
.section-list dd:last-child {
	margin-bottom: 0;
}
.section-list dd h3 {
	line-height: 1;
	font-weight: 700;
	letter-spacing: -1px;
	color: var(--HEADER-COLOR);
}
.section-list small {
	color: var(--SECONDARY-COLOR);
}

.places-list dd {
	padding-top: 2em;
	padding-bottom: 1.5em;
}
.places-list h3, .places-list h4, .places-list h5 {
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
}
.places-list h4 {
	margin-top: 1em;
}
.places-list h5 {
	margin-top: 0.75em;
}
.places-list ul {
	margin: 0;
	margin-bottom: 1.5em;
	padding: 0;
}

.playlist-page h3 {
	margin: 0;
	padding: 0.75em;
	font-size: 2em;
	text-align: center;
}
.playlist-page hr {
	margin-top: 2.5em;
}
.playlist-page ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: var(--MAX-WIDTH-PLAYLISTS);
	margin: auto;
	padding: 0;
	padding-bottom: 1.5em;
	text-align: left;
	box-sizing: border-box;
}
.playlist-page a {
	text-decoration: none !important;
}
.playlist-page li {
	display: block;
	min-width: 120px;
	margin: 0.25em;
	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
	background: var(--BUTTON-BG);
	color: var(--BUTTON-FG);
	border: var(--BUTTON-BORDER);
	border-radius: var(--BUTTON-BORDER-RADIUS);
	text-align: center;
	font-size: 125%;
	transition: var(--TRANSITION);
}
.playlist-page li:hover {
	background: var(--BUTTON-BG-HOVER);
	color: var(--BUTTON-FG-HOVER);
	transition: var(--TRANSITION);
}

#profile-img {
	/* margin: auto; */
	margin: auto;
	margin-bottom: 2em;
	width: 128px;
	height: 128px;
	box-sizing: border-box;
	border: var(--IMAGE-BORDER);
	border-radius: var(--IMAGE-BORDER-RADIUS);
	/* box-shadow: var(--SHADOW); */
}

#welcome-img {
	max-height: calc(var(--MAX-WIDTH)*0.75);
	max-width: 100%;
	margin: auto;
	margin-bottom: 1em;
	box-sizing: border-box;
	border: var(--IMAGE-BORDER);
	border-radius: var(--BORDER-RADIUS);
	/* box-shadow: var(--SHADOW); */
	filter: grayscale(1);
}

#upcoming-img {
	width: 48px;
	margin: auto;
	margin-top: 1em;
	transition: 1.0s;
}
#upcoming-img:hover {
	transform: rotate(360deg);
	transition: 2.0s;
}

.highlight {
	background: lightyellow;
	padding: 1em;
	box-sizing: border-box;
	border-radius: var(--BORDER-RADIUS);
}

.warning {
	color: red !important;
}
.warning:hover {
	text-decoration: underline;
}
