:root {
	--general-font-face: -apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Helvetica,Arial,sans-serif !important;
	--header-font-face: -apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Helvetica,Arial,sans-serif !important;
	--bg-color: white !important;
	--bg-comfort-color: whitesmoke !important;
	--fg-color: black !important;
	--link-color: darkorange !important;
	--link-hover-color: orangered !important;
	--max-width: 1024px !important;
	--border-radius: 8px !important;
}

@media only screen and (max-width: 420px) {
	body {
		font-size: 1em !important;
		/* background: whitesmoke !important; */
		/* background-image: none !important; */
	}
	.navbar {
		padding: 0.25em !important;
		flex-flow: column !important;
		justify-content: center !important;
		align-items: center !important;
		position: static !important;
	}
	.navbar-links li a {
		padding: 0.25em !important;
		margin: 0 !important;
	}
	.shelf {
		padding: 0.25em !important;
		margin-top: 1em !important;
	}
	.shelf-item {
		margin: 0.5em !important;
		padding: 1em !important;
	}
	.statement-container {
		display: inline-block !important;
		font-size: 1.5em !important;
		margin-bottom: 4em !important;
		padding: 1em !important;
		box-sizing: border-box !important;
		/* background: whitesmoke !important; */
		overflow: scroll !important;
	}
	.statement {
		font-size: 0.8em !important;
		margin: 0 !important;
		margin-bottom: 4em !important;
		padding: 1em !important;
		/* background: none !important; */
		/* box-shadow: none !important; */
		overflow: scroll !important;
	}
	dd {
		padding: 0.5em;
	}
	.shelf-letter {
		margin: 1em !important;
	}
}

body {
	font-family: var(--general-font-face);
	/* font-family: -apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Helvetica,Arial,sans-serif !important; */
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-rendering: optimizeSpeed;
	color: var(--fg-color);
	background-color: var(--bg-color);
	background: url("img/debut_light.png");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	width: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: var(--header-font-face);
	font-weight: bold !important;
	font-style: normal !important;
	color: inherit;
}
h1 {
	font-size: 2.125em;
}
h2 {
	font-size: 1.75em;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}

p {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a {
	color: var(--link-color);
	text-decoration: none;
	font-weight: inherit;
}
a:hover {
	color: var(--link-hover-color);
}

table {
	text-align: left;
	border-collapse: collapse;
}
td {
	padding: 0.75em;
}

dl {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
dd {
	margin: 0;
	margin-bottom: 1em;
	padding: 1em;
	box-sizing: border-box;
}
dd h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
dd p {
	line-height: 1.25;
}

.navbar {
	/* Positioning & Display */
	display: flex;
	flex-flow: row wrap !important;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	/* margin-bottom: 2em; */
	top: 0;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	z-index: 1;
	
	/* Appearance */
	font-family: var(--header-font-face);
	padding: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
	color: var(--fg-color);
	background-color: var(--bg-color);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.25);
}
.navbar a {
	color: var(--fg-color);
	text-decoration: none !important;
}
.navbar-brand {
	padding: 0.25em;
	font-size: 1.75em !important;
	font-weight: bold;
}
.navbar-brand img {
	vertical-align: middle;
	height: 1.25em;
	margin-bottom: 0.125em;
	margin-right: 0.125em;
	border-radius: 100%;
}
.navbar-brand a {
	background: none !important;
}
.navbar-brand a:hover {
	background: none !important;
}

.navbar-links {
	list-style: none;
}
.navbar-links ul {
	padding: 0;
	margin: 0;
}
.navbar-links li {
	display: inline-block;
	padding: 0.25em;
	margin: 0;
}
.navbar-links li a {
	padding: 0.25em;
	background: none;
}

.statement-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
	z-index: 0;
	color: inherit;
}
.statement {
	display: inline-block;
	max-width: 545px;
	padding: 1.5em;
	box-sizing: border-box;
	font-size: 1.5em;
	background: var(--bg-color);
	border-radius: var(--border-radius);
	box-shadow: 0px 4px 8px rgba(0,0,0,0.125);
}
.statement h1 {
	margin: 0;
	padding: 0;
}

.shelf {
	z-index: 0;
	max-width: var(--max-width);
	width: 100%;
	margin: auto;
	margin-top: 4.5em;
	margin-bottom: 4em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	box-sizing: border-box;
}

.shelf-item {
	width: 100%;
	margin: 1em;
	padding: 1.5em;
	background-color: var(--bg-color);
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.125);
	border-radius: var(--border-radius);
}
.shelf-item p {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding: 0;
}
.shelf-item ul li {
	list-style: square inside !important;
}
.shelf-item td {
	padding: 0.5em;
}
.shelf-item dd h3 {
	margin-bottom: 0.5em;
}

.shelf-link-list {
	text-align: center;
}
.shelf-link-list ul li {
	list-style-type: none !important;
	margin: 0.5em;
	padding: 0.5em;
}
.shelf-link-list ul {
	margin-top: 1em !important;
	padding: 0 !important;
}
.shelf-link-list li {
	background-color: #66594F;
	border-radius: 6px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}
.shelf-link-list li:hover {
	background: #8C796C;
}
.shelf-link-list li:active {
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25) inset;
}
.shelf-link-list a {
	text-decoration: none !important;
}

.section-spotify {
	text-align: center;
}
.section-spotify a {
	border: 0 !important;
}
.section-spotify h3 {
	margin: 1em;
}
.section-spotify ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.section-spotify li {
	width: 25%;
	margin: 0.25em;
	padding: 1em;
	display: inline-block;
	color: var(--bg-color);
	background-color: var(--link-color);
	border-radius: var(--border-radius);
}
.section-spotify li:hover {
	background-color: var(--link-hover-color);
}

.btn a {
	border: 0 !important;
}
.btn {
	display: inline-block;
	padding: 0.5em;
	color: black !important;
	background-color: whitesmoke;
	text-decoration: none !important;
	text-align: center;
	border-radius: var(--border-radius);
}
.btn:hover {
	background: lightgray;
}
.btn-table {
	width: 100% !important;
}
