@import url('https://fonts.googleapis.com/css?family=Mukta:400,700');

@media only screen and (max-width: 420px) {
	body {
		font-size: 1.25em !important;
	}
	.header-content {
		padding: 1em !important;
	}
	header h2 {
		font-size: 1.5em !important;
	}
	.shelf {
		margin-top: 0 !important;
	}
	.shelf-item {
		padding: 1.75em !important;
	}
	.shelf-letter {
		padding: 1em !important;
	}
}
@media only screen and (max-width: 768px) {
	.shelf-letter {
		margin: 1em !important;
	}
}

body {
	font-family: Helvetica,Arial,sans-serif;
	/*font-family: -apple-system,BlinkMacSystemFont,Roboto,Ubuntu,Helvetica,Arial,sans-serif !important;*/
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-rendering: optimizeSpeed;
	/*letter-spacing: -0.8px;*/
	color: #333;
	background-color: white;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-flow: column;
	box-sizing: border-box;
	border: 0;
	width: 100%;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	font-style: normal;
	line-height: 1.125 !important;
	color: inherit;
	margin: 0;
}
h1 {
	font-size: 2.125em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
	color: gray;
}

p {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

a {
	color: gray;
	background: none;
	text-decoration: underline;
	font-weight: inherit;
	border: 0;
}
a:hover {
	color: dodgerblue;
}

ul {
	list-style: square;
}

table {
	text-align: left;
	border-collapse: collapse;
}
td {
	padding: 0.75em;
}
header {
	width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	padding-left: 0;
	padding-right: 0;
	top: 0;
	background-color: slateblue;
	background: linear-gradient(to bottom, lightslategray, darkslategray);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
	color: white;
	border: 0;
	box-sizing: border-box;
	display: inline-block;
}
.header-content {
	max-width: 800px;
	margin: auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap !important;
}
header small {
	font-size: 0.8em;
	color: whitesmoke;
	margin-top: 1em;
	display: inline-block;
}
header h1 {
	color: white;
	display: inline-block;
}
header h2 {
	font-weight: normal !important;
	color: whitesmoke;
	display: inline-block;
}
header a, header a:hover {
	background: none !important;
	color: inherit !important;
	text-decoration: none !important;
}

.shelf {
	max-width: 800px;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 5em;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	box-sizing: border-box;
}

.shelf-item {
	flex-grow: 1;
	min-width: 180px;
	margin: 0;
	padding: 1.5em;
	background-color: none;
}
.shelf-item p {
	margin: 0;
	margin-top: 0.5em;
	margin-bottom: 1em;
	padding: 0;
}

.shelf-letter {
	width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}

.section-spotify {
	text-align: center;
}
.section-spotify h3 {
	margin: 1em;
}
.section-spotify ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.section-spotify li {
	margin: 0.5em;
	padding: 1em;
	width: 25%;
	display: inline-block;
	font-size: 1.125em;
	color: gray !important;
	background-color: whitesmoke;
	background: linear-gradient(to bottom, whitesmoke, lightgray);
	border: 1px solid lightgray;
	border-radius: 6px;
}
.section-spotify li:hover {
	color: white !important;
	text-shadow: 0px -2px 1px darkslategray;
	background-color: darkslategray;
	background: linear-gradient(to bottom, lightslategray, darkslategray);
	border: 1px solid darkslategray;
}
.section-spotify li:active {
	box-shadow: 0px 4px 8px rgba(0,0,0,0.25) inset;
}

.zeitgeist {
	margin: 2em;
	font-size: 1.125em;
}
