:root {
	--MAX-WIDTH: 1280px;
	--BODY-FONT-FAMILY: 'Lato', Helvetica, Arial, sans-serif;
	--HEADER-FONT-FAMILY: 'Lato', var(--BODY-FONT-FAMILY);
}

html, body {
	display: flex;
	flex-flow: column;
	align-items: space-between;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #333333;
	background-color: white;
	background: url('../images/paper.png');
	background-repeat: repeat;
	font-family: var(--BODY-FONT-FAMILY);
	font-size: 16px;
	line-height: 1.25;
}

* { box-sizing: border-box; }

a { color: black; }
h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: var(--HEADER-FONT-FAMILY);
}
p {
	margin: 0;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
}
dt {
	margin-top: 16px;
	font-weight: bold;
}
dt:first-child { margin-top: 0; }

.hstack {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
}
.hstack-width-full {
	width: 100%;
}
.hstack-height-full {
	height: 100%;
}
.hstack .hstack-item {
	margin-right: 8px;
}
.hstack .hstack-item:last-child {
	margin-right: 0;
}

.button {
	margin: 0;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	color: black;
	background: rgba(255,255,255,0.5);
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
}
.button:hover {
	background: rgba(255,255,255,0.75);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
	transition: 0.2s;
}
.button:active {
	background: rgba(225,225,225,0.75);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5) inset;
	transition: 0.2s;
}
.button-group {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
}
.button-group-width-full {
	width: 100%;
}
.button-group-justify-center {
	justify-content: center;
}
.button-group-justify-end {
	justify-content: flex-end;
}
.button-group .button {
	margin: 0;
	margin-right: 8px;
	margin-bottom: 8px;
}
.button-group .button:last-child {
	margin-right: 0;
}
header .button-group .button {
	margin-bottom: 0;
}

header {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 32px;
	top: 0;
	padding: 16px;
	background-color: white;
	background: url('../images/groovepaper.png');
	background-repeat: repeat;
	box-shadow: 0px 4px 16px rgba(0,0,0,0.25);
}
header h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
header ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
}
header li {
	display: inline-block;
	margin-right: 16px;
}
header li:last-child { margin-right: 0; }
.header-name {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	user-select: none;
	cursor: pointer;
}
.header-name h1 {
	font-weight: 900;
}
.header-name img {
	border-radius: 100%;
	margin-right: 8px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

footer {
	position: relative;
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: auto;
	margin-top: 32px;
	margin-bottom: 0;
	bottom: 0;
	padding: 16px;
	padding-top: 32px;
	padding-bottom: 32px;
	color: dimgray;
	background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.0625));
}

.page-section-visible {
	visibility: visible;
	display: inline-block;
}
.page-section-hidden {
	visibility: hidden;
	display: none;
}

.container {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: flex-start;
	max-width: var(--MAX-WIDTH);
	width: 100%;
	margin: auto;
	margin-top: 0;
	padding: 32px;
}
.container h1, .container h2 {
	margin-top: 8px;
	padding: 16px;
	border-bottom: 2px solid black;
	font-weight: 900;
	user-select: none;
}
.container h2 {
	cursor: pointer;
}

.section {
	margin: 0;
	margin-bottom: 16px;
	padding: 16px;
}
.section:last-child { margin-bottom: 0; }
.section-rollable {
	visibility: visible;
	display: flex;
}

.big-list {
	width: 100%;
	margin-top: 32px;
	margin-bottom: 64px;
}
.big-list-grid {
	display: grid;
	row-gap: 32px;
	column-gap: 16px;
	grid-template-columns: repeat(2, auto);
	grid-auto-rows: 420px;
}
.big-list-grid-column {
	grid-template-columns: auto;
}

.big-list-item {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
	width: 100%;
	height: 100%;
	background-color: white;
	background: url('../images/groovepaper.png');
	background-repeat: repeat;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
	transition: 0.2s;
}
.big-list-item-header {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding: 16px;
	color: whitesmoke;
	background: #333333;
	border-bottom: 1px solid dimgray;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-family: var(--HEADER-FONT-FAMILY);
	user-select: none;
}
.big-list-item-title {
	font-size: 120%;
	font-weight: bold;
}
.big-list-item-caption {
	margin-top: 4px;
	font-size: 80%;
}
.big-list-item-body {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: stretch;
	height: 100%;
	margin: 0;
	padding: 16px;
	overflow: auto;
}
.big-list-item-body .button-group {
	margin-top: 8px;
}
.big-list-item-footer {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin: auto;
	margin-bottom: 0;
	bottom: 0;
	padding: 16px;
	background-color: whitesmoke;
	background: url('../images/textured_paper.png');
	background-repeat: repeat;
	border-top: 1px solid darkgray;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


@media only screen and (max-width: 1024px) {
	:root {
		--MAX-WIDTH: 600px;
	}
	header {
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.header-name {
		margin-bottom: 16px;
	}
	.container {
		padding: 8px;
	}
	.container h1, .container h2 {
		margin-top: 16px;
	}
	.section {
		margin-bottom: 8px;
	}
	.big-list {
		margin-top: 16px;
		margin-bottom: 0;
	}
	.big-list-grid {
		gap: 32px;
		grid-template-columns: repeat(1, auto);
		grid-auto-rows: auto;
	}
}
@media only screen and (max-width: 500px) {
	.container {
		padding: 0;
	}
	.big-list-grid {
		gap: 32px;
		grid-template-columns: repeat(1, auto);
	}
	.button-group, .button-group-small {
		flex-flow: column;
		align-items: center;
	}
	.button-group .button, .button-group-small .button {
		width: 100%;
		margin-right: 0;
		margin-bottom: 4px;
	}
	.button-group-header {
		flex-flow: row wrap;
	}
	.button-group-header .button {
		width: auto;
		margin-right: 4px;
		margin-bottom: 0;
		padding: 4px;
		padding-left: 8px;
		padding-right: 8px;
	}
}