textarea:focus, input:focus {
    outline: 0;
}

#text_name {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: 1px solid dimgray;
    padding: 0.5em;
}
#text_name:focus, #text_editor:focus {
    outline: none;
    box-shadow: 2px 2px 2px whitesmoke inset;
}

#text_editor {
    resize: none;
    width: 100%;
    font-family: inherit;
    font-size: 1.3em;
    font-weight: inherit;
    border: 1px solid lightgray;
    padding: 0.5em;
}

.button {
    display: inline-block;
}
.button a {
    margin: 0;
    padding: 0.5em;
    color: dimgray;
    background-color: white;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid dimgray;
}
.button a:hover {
    background-color: whitesmoke;
}