body {
	font-family: serif;
	font-size: 1em;
	line-height: 1.25;
	text-align: left;
	color: black;
	background: whitesmoke;
}

hr {
	width: 100%;
	border: 0;
	border-bottom: 1px solid gray;
}

header {
	line-height: 0;
}

.container {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.section {
	line-height: inherit;
	display: block;
	margin: 0;
	padding: 0;
}

table {
	text-align: left;
	border-collapse: collapse;
}
td {
	padding-right: 1.5em;
}
tr:hover {
	background: yellow
}
