:root {
    --BACKGROUND-COLOR: whitesmoke;
    --BACKGROUND-COLOR-SECONDARY: white;
    --BACKGROUND-COLOR-TERTIARY: whitesmoke;
    --PRIMARY-COLOR: #333333;
    --SECONDARY-COLOR: gray;
    --LINK-COLOR: dodgerblue;

    --ROW-ODD-BG-COLOR: white;
    --ROW-EVEN-BG-COLOR: aliceblue;

    --ELEMENT-BORDER-RADIUS: 5px;
    --ELEMENT-SYMBOLIC-BORDER-RADIUS: 100%;
    --ELEMENT-TRANSITION: 0.1s;

    --HEADER-FG-COLOR: #333333;
    --HEADER-BG-COLOR: white;
    --HEADER-BORDER-WIDTH: 0 0 1px 0;
    --HEADER-BORDER-STYLE: solid;
    --HEADER-BORDER-COLOR: lightgray;
    --HEADER-SHADOW: 0px 1px 2px rgba(0,0,0,0.125);
    --VERSION-TAG-FG-COLOR: aliceblue;

    --BUTTON-OUTLINE: none;
    --BUTTON-FG-COLOR: var(--PRIMARY-COLOR);
    --BUTTON-FG-COLOR-HOVER: white;
    --BUTTON-FG-COLOR-ACTIVE: white;
    --BUTTON-FG-COLOR-SELECTED: royalblue;
    --BUTTON-FG-COLOR-DISABLED: dimgray;
    --BUTTON-FG-COLOR-DESTRUCTIVE: mistyrose;
    --BUTTON-BG-COLOR: white;
    --BUTTON-BG-COLOR-HOVER: dodgerblue;
    --BUTTON-BG-COLOR-ACTIVE: royalblue;
    --BUTTON-BG-COLOR-SELECTED: white;
    --BUTTON-BG-COLOR-DESTRUCTIVE: firebrick;
    --BUTTON-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --BUTTON-BORDER-WIDTH: 1px;
    --BUTTON-BORDER-STYLE: solid;
    --BUTTON-BORDER-COLOR: lightgray;
    --BUTTON-BORDER-COLOR-HOVER: dodgerblue;
    --BUTTON-BORDER-COLOR-ACTIVE: royalblue;
    --BUTTON-BORDER-COLOR-FOCUS: royalblue;
    --BUTTON-BORDER-COLOR-SELECTED: royalblue;
    --BUTTON-BORDER-COLOR-DISABLED: #dcdcdc;
    --BUTTON-BORDER-COLOR-DESTRUCTIVE: darkred;
    --BUTTON-TEXT-SHADOW: none;
    --BUTTON-SHADOW: 0px 1px 2px rgba(0,0,0,0.25);
    --BUTTON-SHADOW-ACTIVE: 0px 2px 4px rgba(0,0,0,0.125) inset;

    --INPUT-FG-COLOR: #333333;
    --INPUT-BG-COLOR: whitesmoke;
    --INPUT-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --INPUT-BORDER-WIDTH: 1px;
    --INPUT-BORDER-STYLE: solid;
    --INPUT-BORDER-COLOR: lightgray;
    --INPUT-BORDER-COLOR-FOCUS: dodgerblue;
    --INPUT-SHADOW: 0px 1px 2px rgba(0,0,0,0.25) inset;
    --INPUT-SHADOW-FOCUS: 0px 1px 2px rgba(0,0,0,0.5) inset;
    --INPUT-OUTLINE: var(--BUTTON-OUTLINE);

    --SLIDER-BAR-BG-COLOR: lightgray;
    --SLIDER-BAR-SHADOW: 0px 1px 2px rgba(0,0,0,0.25) inset;
    --SLIDER-PIN-BG-COLOR: cornflowerblue;
    --SLIDER-PIN-BG-COLOR-HOVER: dodgerblue;
    --SLIDER-PIN-BG-COLOR-ACTIVE: royalblue;
    --SLIDER-PIN-BORDER-COLOR: royalblue;
    --SLIDER-PIN-SHADOW: var(--BUTTON-SHADOW);

    --CARD-FG-COLOR: var(--PRIMARY-COLOR);
    --CARD-BG-COLOR: var(--BACKGROUND-COLOR-SECONDARY);
    --CARD-HEADER-FG-COLOR: var(--MODAL-WINDOW-FG-COLOR);
    --CARD-HEADER-BG-COLOR: var(--MODAL-WINDOW-BG-COLOR);
    --CARD-BODY-FG-COLOR: var(--CARD-FG-COLOR);
    --CARD-BODY-BG-COLOR: var(--CARD-BG-COLOR);
    --CARD-BORDER-COLOR: var(--MODAL-WINDOW-BORDER-COLOR);

    --CARD-FG-COLOR-NOTICE: #333333;
    --CARD-BG-COLOR-NOTICE: lightyellow;
    --CARD-BORDER-COLOR-NOTICE: goldenrod;

    --THUMBNAIL-BORDER-WIDTH: 1px;
    --THUMBNAIL-BORDER-STYLE: solid;
    --THUMBNAIL-BORDER-COLOR: lightgray;

    --SECTION-BORDER-COLOR: lightgray;
    --SECTION-BG-COLOR: none;
    --SECTION-HEADER-FG-COLOR: var(--PRIMARY-COLOR);
    --SECTION-HEADER-BG-COLOR: none;
    --SECTION-BODY-FG-COLOR: var(--PRIMARY-COLOR);
    --SECTION-BODY-BG-COLOR: var(--SECTION-BG-COLOR);

    --SIDEBAR-FG-COLOR: var(--PRIMARY-COLOR);
    --SIDEBAR-BG-COLOR: var(--BACKGROUND-COLOR-SECONDARY);

    --TOOLBAR-FG-COLOR: var(--PRIMARY-COLOR);
    --TOOLBAR-BG-COLOR: white;
    --TOOLBAR-BORDER-WIDTH: 1px;
    --TOOLBAR-BORDER-STYLE: solid;
    --TOOLBAR-BORDER-COLOR: lightgray;
    --TOOLBAR-TOP-SHADOW: 0px 1px 2px rgba(0,0,0,0.25);
    --TOOLBAR-BOTTOM-SHADOW: 0px -1px 2px rgba(0,0,0,0.125);
    --TOOLBAR-BUTTON-FG-COLOR: var(--PRIMARY-COLOR);
    --TOOLBAR-BUTTON-FG-COLOR-HOVER: var(--PRIMARY-COLOR);
    --TOOLBAR-BUTTON-FG-COLOR-ACTIVE: var(--PRIMARY-COLOR);
    --TOOLBAR-BUTTON-FG-COLOR-SELECTED: royalblue;
    --TOOLBAR-BUTTON-BG-COLOR: none;
    --TOOLBAR-BUTTON-BG-COLOR-HOVER: aliceblue;
    --TOOLBAR-BUTTON-BG-COLOR-ACTIVE: aliceblue;
    --TOOLBAR-BUTTON-BG-COLOR-SELECTED: none;
    --TOOLBAR-BUTTON-BORDER-WIDTH: 0;
    --TOOLBAR-BUTTON-BORDER-STYLE: solid;
    --TOOLBAR-BUTTON-BORDER-COLOR: none;
    --TOOLBAR-BUTTON-BORDER-COLOR-HOVER: none;
    --TOOLBAR-BUTTON-BORDER-COLOR-ACTIVE: none;
    --TOOLBAR-BUTTON-BORDER-COLOR-SELECTED: none;
    --TOOLBAR-BUTTON-BORDER-RADIUS: 0;
    --TOOLBAR-BUTTON-SHADOW: none;
    --TOOLBAR-BUTTON-SHADOW-ACTIVE: none;
    --TOOLBAR-BUTTON-IMG-FILTER: none;

    --MODAL-WINDOW-OVERLAY-COLOR: rgba(0,0,0,0.25);
    --MODAL-WINDOW-OUTLINE: var(--BUTTON-OUTLINE);
    --MODAL-WINDOW-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --MODAL-WINDOW-FG-COLOR: var(--PRIMARY-COLOR);
    --MODAL-WINDOW-BG-COLOR: white;
    --MODAL-WINDOW-BORDER-WIDTH: 1px;
    --MODAL-WINDOW-BORDER-STYLE: solid;
    --MODAL-WINDOW-BORDER-COLOR: lightgray;
    --MODAL-WINDOW-BODY-FG-COLOR: var(--SECTION-BODY-FG-COLOR);
    --MODAL-WINDOW-BODY-BG-COLOR: var(--BACKGROUND-COLOR-SECONDARY);
    --MODAL-WINDOW-BODY-BORDER-RADIUS: 1px;
    --MODAL-WINDOW-BODY-BORDER-COLOR: lightgray;
    --MODAL-WINDOW-SHADOW: 0px 1px 2px rgba(0,0,0,0.25);

    --TAB-GROUP-HEADER-BG-COLOR: var(--SECTION-BODY-BG-COLOR);
    --TAB-GROUP-HEADER-ITEM-FG-COLOR: var(--SECTION-BODY-FG-COLOR);
    --TAB-GROUP-HEADER-ITEM-BG-COLOR: gainsboro;
    --TAB-GROUP-HEADER-ITEM-BG-COLOR-HOVER: var(--TAB-GROUP-HEADER-ITEM-BG-COLOR-SELECTED);
    --TAB-GROUP-HEADER-ITEM-BG-COLOR-ACTIVE: var(--TAB-GROUP-HEADER-ITEM-BG-COLOR-SELECTED);
    --TAB-GROUP-HEADER-ITEM-BG-COLOR-SELECTED: var(--TAB-GROUP-BODY-BG-COLOR);
    --TAB-GROUP-HEADER-BORDER-WIDTH: 1px;
    --TAB-GROUP-HEADER-BORDER-COLOR: lightgray;
    --TAB-GROUP-HEADER-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --TAB-GROUP-HEADER-TEXT-SHADOW: var(--BUTTON-TEXT-SHADOW);
    --TAB-GROUP-HEADER-SHADOW: none;
    --TAB-GROUP-BODY-FG-COLOR: var(--PRIMARY-COLOR);
    --TAB-GROUP-BODY-BG-COLOR: var(--BACKGROUND-COLOR-SECONDARY);
    --TAB-GROUP-BODY-SHADOW: none;
    --TAB-GROUP-BORDER-WIDTH: 1px 0 0 0;
    --TAB-GROUP-BORDER-WIDTH-NEGATIVE: -1px;
    --TAB-GROUP-BORDER-STYLE: solid;
    --TAB-GROUP-BORDER-COLOR: lightgray;
    --TAB-GROUP-BORDER-RADIUS: 0;

    --NOTIFICATION-FG-COLOR: lightgray;
    --NOTIFICATION-BG-COLOR: #333333;
    --NOTIFICATION-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --NOTIFICATION-BORDER-WIDTH: 1px;
    --NOTIFICATION-BORDER-STYLE: solid;
    --NOTIFICATION-BORDER-COLOR: #222222;
    --NOTIFICATION-TEXT-SHADOW: none;
    --NOTIFICATION-SHADOW: var(--MODAL-WINDOW-SHADOW);

    --LIST-BG-COLOR: var(--SECTION-BODY-BG-COLOR);
    --LIST-ITEM-FG-COLOR: var(--PRIMARY-COLOR);
    --LIST-ITEM-FG-COLOR-HOVER: white;
    --LIST-ITEM-FG-COLOR-ACTIVE: white;
    --LIST-ITEM-FG-COLOR-SELECTED: white;
    --LIST-ITEM-BG-COLOR: none;
    --LIST-ITEM-BG-COLOR-HOVER: dodgerblue;
    --LIST-ITEM-BG-COLOR-ACTIVE: royalblue;
    --LIST-ITEM-BG-COLOR-SELECTED: royalblue;
    --LIST-ITEM-BORDER-WIDTH: 0;
    --LIST-ITEM-BORDER-STYLE: solid;
    --LIST-ITEM-BORDER-COLOR: var(--SECTION-BORDER-COLOR);

    --STATISTIC-ITEM-FG-COLOR: var(--BUTTON-FG-COLOR);
    --STATISTIC-ITEM-FG-COLOR-HOVER: var(--BUTTON-FG-COLOR-HOVER);
    --STATISTIC-ITEM-FG-COLOR-ACTIVE: var(--BUTTON-FG-COLOR-ACTIVE);
    --STATISTIC-ITEM-BG-COLOR: var(--BUTTON-BG-COLOR);
    --STATISTIC-ITEM-BG-COLOR-HOVER: var(--BUTTON-BG-COLOR-HOVER);
    --STATISTIC-ITEM-BG-COLOR-ACTIVE: var(--BUTTON-BG-COLOR-ACTIVE);
    --STATISTIC-ITEM-BORDER-WIDTH: 1px;
    --STATISTIC-ITEM-BORDER-STYLE: solid;
    --STATISTIC-ITEM-BORDER-COLOR: var(--BUTTON-BORDER-COLOR);
    --STATISTIC-ITEM-BORDER-COLOR-HOVER: var(--BUTTON-BORDER-COLOR-HOVER);
    --STATISTIC-ITEM-BORDER-COLOR-ACTIVE: var(--BUTTON-BORDER-COLOR-ACTIVE);
    --STATISTIC-ITEM-BORDER-RADIUS: var(--ELEMENT-BORDER-RADIUS);
    --STATISTIC-ITEM-OUTLINE: none;
    --STATISTIC-ITEM-SHADOW: var(--BUTTON-SHADOW);
}

.button-disabled #audio-player-volume-button-symbol:hover {
    -webkit-filter: invert(0);
    filter: invert(0);
}

#audio-player-volume-button-symbol:hover {
    -webkit-filter: invert(1);
    filter: invert(1);
}